.cards {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.cards_item {
	list-style-type: none;
}

.card_imageIn {
	width: 220px;
	height: 200px;
	margin-top: 10px;
}

.cards_item {
	margin: 12px;
}

.card {
	height: 310px;
	width: 250px;
	background-color: rgba(136, 129, 129, 0.3);
	border-radius: 10px;
}

.card_image {
	display: flex;
	justify-content: center;
}

.card_recipeName {
	color: aquamarine;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 20px;
	font-weight: 500;
}

.card_btn {
	display: flex;
	justify-content: flex-end;

	margin-bottom: 15px;
	margin-right: 15px;
}

button {
	cursor: pointer;
	background-color: rgb(153, 241, 212);
	padding: 10px 15px;
	border-radius: 7px;
	border: none;
	color: #1b1616;
	font-family: inherit;
	font-weight: 800;
	font-size: 16px;
}
