.Header {
	background-color: rgb(57, 66, 194);
}

.inputFieldIn {
	margin: 40px 60px;
	width: 45%;
	padding: 15px 15px;
	border-radius: 5px;
	border: none;
	background-color: rgba(226, 226, 241, 0.8);
}
::placeholder {
	color: rgb(10, 9, 3);
	font-size: 16px;
}

/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
	.inputFieldIn {
		width: 65%;
	}
}
