.box {
	color: white;
	padding: 20px 60px;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 15px;
}

.notfound {
	padding: 20px;
	color: aliceblue;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.box h2 {
	padding: 10px;
	margin-bottom: 5px;
}

.box h3 {
	margin-bottom: 15px;
}

span {
	color: rgb(81, 79, 224);
	font-size: 24px;
	margin-right: 10px;
}

small {
	font-size: 18px;
}
